# STACKS Files & Directories
*_raw_tweets
raw_tweets_*
raw_tweets
*_insert_queue
insert_queue_*
insert_queue
*_tweet_archive
tweet_archive_*
tweet_archive
error_tweets
error_tweets.txt
error_inserted_tweets
error_inserted_tweets.txt
controller_old.py
test.terms
test.ini
py_modules_list.txt
old_collection.terms
test.py
out
data
logs
stack


# Python Files & Dirs
.idea
*.pyc
env
