*_tweet_archive
tweet_archive_*
tweet_archive
*_raw_tweets
raw_tweets_*
raw_tweets
logs
*_insert_queue
insert_queue_*
insert_queue
error_tweets
error_inserted_tweets
env
out
*.pyc

error_inserted_tweet.txt
error_tweet.txt

stack/out

.idea
controller_old.py
test.terms
test.ini
py_modules_list.txt
old_collection.terms
