amqp==2.6.0
anyjson==0.3.3
billiard==3.6.3.0
bson
celery==4.4.5
configparser==5.0.0
DateTime==4.3
Flask==1.1.2
Flask-WTF==0.14.3
itsdangerous==1.1.0
kombu==4.6.10
#logging==0.4.9.3
MarkupSafe==1.1.1
pymongo==3.10.1
pytz==2020.1
sendgrid==6.3.1
simplejson==3.17.0
smtpapi==0.4.3
tweepy==3.8.0
Werkzeug==1.0.1
wheel==0.34.2
WTForms==2.3.1
zope.interface==5.1.0
psycopg2-binary
