CouchDB==0.9
DateTime==4.0.1
Django==1.6.1
PyYAML==3.10
Twisted==13.2.0
URLObject==0.5
Unidecode==0.04.16
altgraph==0.10.2
bdist-mpkg==0.5.0
beautifulsoup4==4.3.2
bonjour-py==0.3
bunch==1.0.0
configparser==3.3.0r2
dj-database-url==0.2.2
dj-static==0.0.5
django-facebook==6.0.1
django-toolbelt==0.0.1
facebook-sdk==0.4.0
google-api-python-client==1.2
gunicorn==18.0
httplib2==0.8
logging==0.4.9.6
macholib==1.5.1
matplotlib==1.3.1
modulegraph==0.10.4
networkx==1.8.1
nltk==2.0.4
numpy==1.8.0rc1
pocket==0.3.2
psycopg2==2.5.2
py2app==0.7.3
pyOpenSSL==0.13.1
pymongo==2.7.2
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyparsing==2.0.1
pystache==0.5.3
python-dateutil==1.5
pytz==2014.7
requests==2.2.1
scipy==0.13.0b1
simplejson==3.6.3
six==1.4.1
static==1.0.2
tweepy==2.3.0
twitter==1.10.2
virtualenv==1.11.2
wsgiref==0.1.2
xattr==0.6.4
zope.interface==4.1.1
