<html>
    <body>
    <h1>STACKS System Status Update</h1>
    <p><em>Project</em> - {{ report['project_details']['project_name'] }}</p>

    <hr />

    {% if report['system']['total'] %}
        <h2>System Issues - {{ report['system']['total'] }}</h2>

        {% if report['system']['critical'] %}
        <h3>CRITICAL System Issues - {{ report['system']['total_critical'] }}</h3>
        {% for issue in report['system']['critical'] %}
            <p><strong>{{ issue['title'] }}</strong><br />{{ issue['message'] }}</p>
        {% endfor %}
        {% endif %}

        {% if report['system']['warn'] %}
        <h3>WARN System Issues - {{ report['system']['total_warn'] }}</h3>
        {% for issue in report['system']['warn'] %}
            <p><strong>{{ issue['title'] }}</strong><br />{{ issue['message'] }}</p>
        {% endfor %}
        {% endif %}

        {% if report['system']['info'] %}
        <h3>INFO System Issues - {{ report['system']['total_info'] }}</h3>
        {% for issue in report['system']['info'] %}
            <p><strong>{{ issue['title'] }}</strong><br />{{ issue['message'] }}</p>
        {% endfor %}
        {% endif %}
    {% endif %}

    {% if report['project']['collectors']['total'] %}
        <h2>Collector Issues - {{ report['project']['collectors']['total'] }}</h2>

        {% if report['project']['collectors']['critical'] %}
        <h3>CRITICAL System Issues - {{ report['project']['collectors']['total_critical'] }}</h3>
        {% for issue in report['project']['collectors']['critical'] %}
            <p><strong>{{ issue['title'] }}</strong><br />{{ issue['message'] }}</p>
        {% endfor %}
        {% endif %}

        {% if report['project']['collectors']['warn'] %}
        <h3>WARN System Issues - {{ report['project']['collectors']['total_warn'] }}</h3>
        {% for issue in report['project']['collectors']['warn'] %}
            <p><strong>{{ issue['title'] }}</strong><br />{{ issue['message'] }}</p>
        {% endfor %}
        {% endif %}

        {% if report['project']['collectors']['info'] %}
        <h3>INFO System Issues - {{ report['project']['collectors']['total_info'] }}</h3>
        {% for issue in report['project']['collectors']['info'] %}
            <p><strong>{{ issue['title'] }}</strong><br />{{ issue['message'] }}</p>
        {% endfor %}
        {% endif %}
    {% endif %}

    </body>
</html>
