{% macro render_field(field) %}
  <div class="form_field">
  {{ field.label(class="label") }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% else %}
      {{ field(**kwargs) }}
  {% endif %}
  </div>
{% endmacro %}

{% macro form_field(field) %}
    {% set with_label = kwargs.pop('with_label', False) %}
    {% set group_class = kwargs.pop('group_class', None) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="control-group{% if group_class %} {{ group_class }}{% endif %}{% if field.errors %} error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="control-label">
                {{ field.label.text }}:
            </label>
        {% endif %}
        <div class="controls">
            {% set class_ = kwargs.pop('class_', '') %}
            {% if field.flags.required %}
                {% set class_ = class_ + ' required' %}
            {% endif %}
            {% if field.type in ('BooleanField', 'RadioField') %}
                <label class="checkbox">
                    {{ field.label.text|safe }}
                    {{ field(class_=class_, **kwargs) }}
                </label>
            {% elif field.type == 'DateField' %}
                {{ field.label.text|safe }}
                {{ field(class_=class_, **kwargs) }}
            {% else %}
                {% if field.type in ('StringField', 'TextAreaField', 'PasswordField') %}
                    {% set class_ = class_ + ' input-xlarge' %}
                {% elif field.type == 'FileField' %}
                    {% set class_ = class_ + ' input-file' %}
                {% endif %}
                {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
            {% endif %}
            {% if field.errors %}
                <span class="error help-inline">{{ field.errors|join(', ') }}</span>
            {% endif %}
            {% if field.description %}
                <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}
