<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="STACK is the Social Media Tracker, Aggregator, and Collector Toolkit. The researches tool for social collection." />
    {% endblock %}

    <title>
      {% block title %}
      STACK - The Researchers Social Data Collection Tool.
      {% endblock %}
    </title>

    {% block css %}
    {% endblock %}

    {% block script %}
    {% endblock %}
  </head>
  <body>
    <header>
      {% if g.admin %}
        <p><strong>{{ g.admin['project_name'] }}</strong> - <a href="{{ url_for('admin_home', admin_id=g.admin['project_id']) }}">Admin Home</a></p>
        <p><a href="{{url_for('logout')}}">Logout</a></p>
        <hr />
      {% elif g.project %}
        <p><strong>{{ g.project['project_name'] }}</strong> - <a href="{{url_for('home', project_name=g.project['project_name'])}}">Home</a></p>
        <p><a href="{{url_for('logout')}}">Logout</a></p>
        <hr />
      {% endif %}
    </header>

    <div id="messages-wrap">
      <div id="messages">
        {% for category, msg in get_flashed_messages(with_categories=true) %}
          <p class="message flash-{{ category }}">{{ msg }}</p>
        {% endfor %}
      </div>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>

    <footer>{% block footer %}{% endblock %}</footer>
  </body>
</html>
