{% extends "base.html" %}
{% block content %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>STACKS</h1>
      <h4>Social Media Tracker, Analyzer, and Collector Toolkit at Syracuse University</h4>
      <br />
      <p>STACKS is a social data collection and analysis geared towards researcher. With STACKS you can collect data
      from public social networks, all for free. STACKS is built an maintained at the Syracuse University
      <a href="http://ischool.syr.edu/">iSchool</a>. Follow STACKS <a href="http://github.com/bitslabsyr/stack">on Github</a>
        for regular development updates.</p>
    </div>
  </div>
{% endblock %}
